%h1 All Movie

%table#games
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More..
  %tbody
    - @games.each do |game|
      %tr
        %td=game.title
        %td=game.rating
        %td=game.release_date
        %td=link_to "More about #{game.title}", game_path(game)
=link_to 'Add new movie', new_game_path
